body {
    background: #ede9e4;
}
a {
    color: #ed5b5b;
}
a:hover,
a:focus {
    color: #ed5b5b;
}
h1 {
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    text-align: center;
    color: #dfbd94;
    margin: 50px;
}
h2 {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    line-height: 45px;
    margin-top: 50px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    color: #dfbd94;
    margin-bottom: 20px;
}
.lore-lore {
    font-size: 30px;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #dfbd94;
    margin-bottom: 10px;
}
.name-cat-m {
    font-size: 30px;
    font-family: Satisfy; 
    color:#dfbd94;
}
.name-cat-w {
    font-size: 30px;
    font-family: Satisfy; 
    color:#996868;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 30px;
}

hr {
    border: none;
}
#about {
    min-height: 130px;
    background: #453f3f;
    padding: 25px;
}
.btn-red {
    background-color: #dfbd94;
}
.btn-red a:link {
    color: #dfbd94;
}
.btn-red a:hover {
    color: #dfbd94;
    text-decoration: none;
}
.portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
}
.portfolio-link:hover {
    color: #fff;
    opacity: .4;
}
.fixed-image img {
    width: 400px; 
    height: 350px;
    object-fit: cover;
    border: none;
    border-radius: 13px;   
}
ul.socialmedia {
    text-align: center;
    margin-left: -40px;
}
.socialmedia li {
	display: inline-block;
	padding: 20px 10px;
}
.img-centered {
    margin: 0 auto;
}
#credits {
    background: #453f3f;
    padding-top: 25px;
    margin-top: 45px;
}
.text-credits {
    font-size: 14px;
    line-height: 17px;
}
@media (max-width: 768px) {
h1 {
    font-size: 70px;
    margin-bottom: 35px;
}
h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
p {
    font-size: 15px;
    line-height: 30px;
}
#about {
    padding: 18px;
}
#credits {
    padding-top: 15px;
    margin-top: 15px;
}
.space {
    margin-top: -20px;
}   
.fixed-image img {
    width: 160px;
    height: 145px;
    object-fit: cover;
    border: none;
    border-radius: 15px;
}
}